<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navLabel</key>
	<dict>
		<key>text</key>
		<string>身份检测</string>
		<key>size</key>
		<string>22</string>
		<key>color</key>
		<string>#000000</string>
	</dict>
	<key>navViewColor</key>
	<dict>
		<key>color</key>
		<string>#ffffff</string>
	</dict>
	<key>viewBgColor</key>
	<dict>
		<key>color</key>
		<string>#ffffff</string>
	</dict>
	<key>progressNormalColor</key>
	<dict>
		<key>color</key>
		<string>#004b5e</string>
	</dict>
	<key>progressLoopingColor</key>
	<dict>
		<key>color</key>
		<string>#ffa500</string>
	</dict>
	<key>toastLabel</key>
	<dict>
		<key>faceLightText</key>
		<string>请保持光线良好</string>
		<key>faceYawText</key>
		<string>请摆正姿态</string>
		<key>faceNullText</key>
		<string>请面向摄像头</string>
		<key>faceOutsideText</key>
		<string>请保持脸部在框内</string>
		<key>faceMultiText</key>
		<string>请保持一个人脸</string>
		<key>faceDiscontinuousText</key>
		<string>请不要离开</string>
		<key>faceCloseText</key>
		<string>请远离摄像头</string>
		<key>faceFarText</key>
		<string>请靠近摄像头</string>
		<key>faceMaskText</key>
		<string>请摘掉口罩</string>
		<key>mouthOcclusionText</key>
		<string>请不要遮挡嘴巴</string>
		<key>noseOcclusionText</key>
		<string>请不要遮挡鼻子</string>
		<key>eyeOcclusionText</key>
		<string>请不要遮挡眼睛</string>
		<key>faceBlurText</key>
		<string>请稳定姿态</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>#ffffff</string>
	</dict>
	<key>remindLabel</key>
	<dict>
		<key>faceGuideText</key>
		<string>请将脸部置于提示框中</string>
		<key>keepStillText</key>
		<string>请注视屏幕</string>
		<key>nodHeadText</key>
		<string>请缓慢点头</string>
		<key>shakeHeadText</key>
		<string>请缓慢摇头</string>
		<key>openMouthText</key>
		<string>请张下嘴</string>
		<key>blinkEyeText</key>
		<string>请眨下眼</string>
		<key>goodNextText</key>
		<string>好的, 下一个</string>
		<key>liveDetectText</key>
		<string>检测中, 请勿移开</string>
		<key>size</key>
		<string>20</string>
		<key>color</key>
		<string>#000000</string>
	</dict>
</dict>
</plist>
